.item-anchor {
    text-decoration: none;
    color: unset;
}

.item-anchor.active {
    background-color: var(--lumo-primary-color-10pct);
}

.item-anchor:focus-visible {
    outline: none;
}

.item-anchor:focus-visible > vaadin-vertical-layout {
    box-shadow: inset 0 0 0 2px var(--lumo-primary-color);
}

.item-anchor:hover > vaadin-vertical-layout {
    background-color: var(--lumo-contrast-5pct);
}